p {
    margin: 20px auto;
    background-color: beige;
    width: 400px;
    padding: 15px;
    counter-increment: numbers-counter;
    position: relative;
    border-right: solid 4px rgb(209, 65, 65);
}

p::before {
    content: counter(numbers-counter);
    background-color: rgb(209, 65, 65);
    padding: 15px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 0;
    left: -33px;
}
