@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  font-family: Roboto ;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  padding: 10px;
  background-image: url(../landing.jpg);
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}

.container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

header {
    display: inherit;
    justify-content: space-between;
}

.logo {
  font-size: 35px;
  font-weight: bold;
  color: #00c7fc;
}

li {
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: white;
}

.plans a {
  color: #00c7fc;
}

a:hover {
  color: #00c7fc;
}

ul {
  display: inherit;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  justify-content: flex-end;
}

section {
    display: inherit;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  text-align: center;
  margin-bottom: 20vh;
}

section p {
  color: #00c7fc;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

section div {
  color: white;
  width: 40%;
}

.plangroup {
    display: flex;
    flex-flow: column ;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 70vh;
}

.head {
    font-weight: bold;
    font-size: 20px;
}

.plangroup > p {
    width: 40%;
}

.plangroup  p {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.three {
    display: inherit;
    width: 85%;
    justify-content: space-between;
    align-items: center;
}

.three > div {
  display: inherit;
  flex-flow: column;
  align-items: center;
  width: 27%;
}

label {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
}

.three div div {
  background-color: #ddd;
  line-height: 80px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: rgba(88, 96, 251, 0.1);
  margin-bottom: 20px;
}

.boot i {
  color: white;
  background-color: rgb(88,97,251);
  padding: 13px;
  border-radius: 10px;
  scale: 1.1;
}

.design i {
  color: rgb(88,97,251);
  scale: 2.5;
}

.easy i {
  color: rgb(88,97,251);
  scale: 2.5;
}

div.price {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
}

.sq {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
  height: 90%;
  background-color: #eee;
  border-radius: 15px;
  padding: 20px;
  position: relative;
}

.dollars p {
  font-size: 25px;
  font-weight: bold;
  color: rgb(88,97,251);
  text-align: center;
  margin-bottom: 20px;
}

.featuers p {
  margin-top: 10px;
}

.featuers i {
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.5);
}

button {
  border-radius: 20px;
  border-color: rgb(88,97,251);
  width: 100px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.sq::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 1px;
  top: 110px;
  background-color: rgba(0, 0, 0, 0.4);
}

