<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/plans.css">
    <link rel="stylesheet" href="css/all.min.css">
</head>

<body>
    <div class="container">
        <header>
            <p class="logo">IEEE</p>
            <ul>
                <li class="home"><a href="index.html">home</a></li>
                <li class="plans"><a href="plans.html">Plans</a></li>
                <li><a href="">portfolio</a></li>
                <li><a href="">about</a></li>
                <li><a href="">services</a></li>
                <li><a href="">contact</a></li>
            </ul>
        </header>
        <section>
            <p>ieee cs zsb<br>hello world</p>
            <div>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
                tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitorat sem. Mauris
                blandit aliquet elit, eget tincidunt.</div>
        </section>
    </div>
    <div class="plangroup">
        <div class="all">
            <div class="head">Choose a Plan</div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi ut magni nemo maxime architecto.</p>
            <div class="three">
                <div class="boot">
                    <div class="icon"><i class="fa-solid fa-b"></i></div>
                    <label for="bootstrap">Bootstrap 5</label>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident placeat impedit tempore fuga,
                        minima voluptatibus.</p>
                </div>
                <div class="design">
                    <div class="icon"><i class="fa-solid fa-border-all"></i></div>
                    <label for="cleandesign">Clean Design</label>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident placeat impedit tempore fuga,
                        minima voluptatibus.</p>
                </div>
                <div class="easy">
                    <div class="icon"><i class="fa-solid fa-mug-hot"></i></i></div>
                    <label for="eastuse">Easy to Use</label>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident placeat impedit tempore fuga,
                        minima voluptatibus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="all">
        <div class="price">
            <div class="sq">
                <div class="dollars">
                    <p class="price">$36</p>
                    <label for="">Basic Account</label>
                </div>
                <div class="featuers">
                    <p><i class="fa-solid fa-check"></i>Unlimited Acces</p>
                    <p><i class="fa-solid fa-check"></i>Single User</p>
                    <p><i class="fa-solid fa-check"></i>Unlimited Storage</p>
                    <p><i class="fa-solid fa-check"></i>24/7 Support</p>
                    <p><i class="fa-solid fa-check"></i>Free Future Ubdates</p>
                </div>
                <button>Get Start</button>
            </div>
            <div class="sq">
                <div class="dollars">
                    <p class="price">$56</p>
                    <label for="">Standard Account</label>
                </div>
                <div class="featuers">
                    <p><i class="fa-solid fa-check"></i>Unlimited Acces</p>
                    <p><i class="fa-solid fa-check"></i>20+ User</p>
                    <p><i class="fa-solid fa-check"></i>Unlimited Storage</p>
                    <p><i class="fa-solid fa-check"></i>24/7 Support</p>
                    <p><i class="fa-solid fa-check"></i>Free Future Ubdates</p>
                </div>
                <button>Get Start</button>
            </div>
            <div class="sq">
                <div class="dollars">
                    <p class="price">$89</p>
                    <label for="">Premium Account</label>
                </div>
                <div class="featuers">
                    <p><i class="fa-solid fa-check"></i>Unlimited Acces</p>
                    <p><i class="fa-solid fa-check"></i>Unlimited User</p>
                    <p><i class="fa-solid fa-check"></i>Unlimited Storage</p>
                    <p><i class="fa-solid fa-check"></i>24/7 Support</p>
                    <p><i class="fa-solid fa-check"></i>Free Future Ubdates</p>
                </div>
                <button>Get Start</button>
            </div>
        </div>
    </div>
</body>

</html>